# Goal
In order to optimize the inventory, I would like to know which films will be rented next month (September 2005) and I am asked to create a model to predict this.
## Instructions
1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features. Use the data from 2005.
2. Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.
3. Read the data into a Pandas dataframe.
4. Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.
5. Create a logistic regression model to predict this variable from the cleaned data.
6. Evaluate the results.

In [ ]:
###################################################
# Dear TA, worked on it in the weekend, got stuck #
# I didn't understand the target AUGUST = 1       #
# versus the goal: prediction SEPTEMBER ?????     #
###################################################

In [1]:
# import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', None)          # view all columns in jupyter
pd.set_option('display.max_rows', 150)                 # view max rows in jupyter

In [2]:
# 1. Create a query or queries to extract the information you think may be relevant for 
#    building the prediction model. It should include some film features and some rental 
#    features. Use the data from 2005.
# Information relevant to predict rentals in september 2005:
# - table rentals
# - table inventory (availability copies)
# - table film (film characteristics)
# - table film_category/category (popularity in september)
# - table payments (possibly correlated with amount)
# - table customer/address/city/country (extra customer characteristics)
import getpass  
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
# base query tested in MYSQL Workbench, more specified in instruction 2
query = '''
SELECT *
FROM sakila.rental AS r
JOIN sakila.inventory i USING (inventory_id)
JOIN sakila.film fi USING (film_id)
JOIN sakila.film_category fa USING (film_id)
JOIN sakila.customer cu USING (customer_id)
JOIN sakila.address a USING (address_id)
JOIN sakila.city ci USING (city_id)
JOIN sakila.country co USING (country_id)
WHERE rental_date < '2005-09-01 00:00:00' 
;
'''

········

In [3]:
# Test
#rentals = pd.read_sql_query(query, engine)
#rentals.head()

In [4]:
# 2. Create a query to get the list of films and a boolean indicating if it was rented 
#    last month (August 2005). This would be our target variable.
# - boolean as target for the model: t_rented
query = '''
SELECT r.rental_id, r.rental_date, r.inventory_id, r.customer_id, r.return_date, 
r.staff_id, i.film_id, i.store_id, fi.release_year, fi.language_id, 
fi.rental_duration, fi.rental_rate, fi.length, fi.rating, 
fc.category_id, cu.customer_id, a.address_id, ci.city_id, co.country_id,
CASE
    WHEN rental_date >= '2005-08-01 00:00:00' THEN 1
    ELSE 0
END AS t_rented
FROM sakila.rental AS r
JOIN sakila.inventory i USING (inventory_id)
JOIN sakila.film fi USING (film_id)
JOIN sakila.film_category fc USING (film_id)
JOIN sakila.customer cu USING (customer_id)
JOIN sakila.address a USING (address_id)
JOIN sakila.city ci USING (city_id)
JOIN sakila.country co USING (country_id)
WHERE rental_date < '2005-09-01 00:00:00' 
;
'''

In [5]:
# 2. Create a query to get the list of films and a boolean indicating if it was rented 
#    last month (August 2005). This would be our target variable.
# 3. Read the data into a Pandas dataframe.
rentals = pd.read_sql_query(query, engine)
rentals.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,film_id,store_id,release_year,language_id,rental_duration,rental_rate,length,rating,category_id,customer_id,address_id,city_id,country_id,t_rented
0,1459,2005-06-15 20:25:53,1862,218,2005-06-22 23:34:53,2,406,2,2006,1,5,0.99,181,R,10,218,222,251,1,0
1,2262,2005-06-18 05:49:46,4172,218,2005-06-20 00:25:46,2,907,1,2006,1,4,0.99,168,PG-13,7,218,222,251,1,0
2,2267,2005-06-18 06:10:23,2086,218,2005-06-20 00:39:23,2,452,2,2006,1,4,0.99,122,R,9,218,222,251,1,0
3,4898,2005-07-08 20:31:43,3212,218,2005-07-15 15:58:43,2,706,1,2006,1,5,4.99,163,PG,7,218,222,251,1,0
4,5226,2005-07-09 12:10:44,3128,218,2005-07-11 17:32:44,2,687,2,2006,1,6,0.99,138,NC-17,6,218,222,251,1,0

In [6]:
# 4. Analyze extracted features and transform them. You may need to encode some categorical 
#    variables, or scale numerical variables.
print('Number of rows:', rentals.shape[0])
print('Number of columns', rentals.shape[1])
rentals.dtypes

Number of rows: 15862
Number of columns 20

rental_id                   int64
rental_date        datetime64[ns]
inventory_id                int64
customer_id                 int64
return_date        datetime64[ns]
staff_id                    int64
film_id                     int64
store_id                    int64
release_year                int64
language_id                 int64
rental_duration             int64
rental_rate               float64
length                      int64
rating                     object
category_id                 int64
customer_id                 int64
address_id                  int64
city_id                     int64
country_id                  int64
t_rented                    int64
dtype: object

In [7]:
# First exploration (changed SQL statement accordingly):
# - many duplicate colums: made * in SELECT statement more specific
# - To be dropped, not usable for the model: decription, original_language_id, replacement_cost, location

In [8]:
# All features which contain NaN
rentals.isna().sum()

rental_id          0
rental_date        0
inventory_id       0
customer_id        0
return_date        1
staff_id           0
film_id            0
store_id           0
release_year       0
language_id        0
rental_duration    0
rental_rate        0
length             0
rating             0
category_id        0
customer_id        0
address_id         0
city_id            0
country_id         0
t_rented           0
dtype: int64

In [9]:
# Set return_date with NaT on Sept 1st
end = pd.to_datetime('2005-09-01')
rentals['return_date'] = rentals['return_date'].fillna(end)

In [10]:
# Rentals in August
rentals['t_rented'].loc[rentals['t_rented'] == 1].count()  # 31220 rentals in august

5686

In [11]:
rentals.head(100)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,film_id,store_id,release_year,language_id,rental_duration,rental_rate,length,rating,category_id,customer_id,address_id,city_id,country_id,t_rented
0,1459,2005-06-15 20:25:53,1862,218,2005-06-22 23:34:53,2,406,2,2006,1,5,0.99,181,R,10,218,222,251,1,0
1,2262,2005-06-18 05:49:46,4172,218,2005-06-20 00:25:46,2,907,1,2006,1,4,0.99,168,PG-13,7,218,222,251,1,0
2,2267,2005-06-18 06:10:23,2086,218,2005-06-20 00:39:23,2,452,2,2006,1,4,0.99,122,R,9,218,222,251,1,0
3,4898,2005-07-08 20:31:43,3212,218,2005-07-15 15:58:43,2,706,1,2006,1,5,4.99,163,PG,7,218,222,251,1,0
4,5226,2005-07-09 12:10:44,3128,218,2005-07-11 17:32:44,2,687,2,2006,1,6,0.99,138,NC-17,6,218,222,251,1,0
5,5737,2005-07-10 11:50:04,1118,218,2005-07-13 10:37:04,1,247,2,2006,1,3,0.99,47,G,5,218,222,251,1,0
6,7090,2005-07-27 04:43:53,3495,218,2005-07-29 07:33:53,2,765,1,2006,1,7,4.99,182,R,5,218,222,251,1,0
7,7236,2005-07-27 10:09:39,3004,218,2005-08-03 16:05:39,1,659,2,2006,1,3,4.99,109,PG-13,1,218,222,251,1,0
8,9018,2005-07-30 05:28:40,1982,218,2005-08-07 01:34:40,1,432,2,2006,1,4,2.99,139,NC-17,4,218,222,251,1,0
9,9902,2005-07-31 14:24:33,486,218,2005-08-09 11:11:33,2,109,1,2006,1,3,0.99,89,G,13,218,222,251,1,0
10,10114,2005-07-31 21:12:58,3881,218,2005-08-02 19:45:58,2,849,1,2006,1,6,0.99,57,NC-17,2,218,222,251,1,0
11,11654,2005-08-17 05:06:19,1048,218,2005-08-18 04:32:19,2,234,1,2006,1,6,2.99,94,R,14,218,222,251,1,1
12,12481,2005-08-18 12:31:34,2424,218,2005-08-21 16:08:34,2,529,1,2006,1,3,2.99,67,G,5,218,222,251,1,1
13,12974,2005-08-19 06:51:02,3599,218,2005-08-25 11:48:02,2,786,2,2006,1,7,0.99,113,R,3,218,222,251,1,1
14,13708,2005-08-20 09:34:07,2236,218,2005-08-26 10:17:07,1,484,1,2006,1,3,2.99,172,NC-17,4,218,222,251,1,1
15,13947,2005-08-20 17:46:06,2562,218,2005-08-29 23:44:06,2,561,1,2006,1,6,2.99,123,NC-17,13,218,222,251,1,1
16,14848,2005-08-22 02:14:19,395,218,2005-08-26 02:54:19,2,88,2,2006,1,7,4.99,179,PG,16,218,222,251,1,1
17,15575,2005-08-23 05:30:19,3916,218,2005-08-27 05:19:19,2,855,1,2006,1,7,0.99,132,PG-13,6,218,222,251,1,1
18,823,2005-05-29 21:39:37,3249,441,2005-05-30 22:06:37,1,715,1,2006,1,3,4.99,147,PG,8,441,446,59,2,0
19,1602,2005-06-16 06:12:40,1777,441,2005-06-19 03:50:40,2,385,2,2006,1,6,4.99,139,PG-13,5,441,446,59,2,0
20,2328,2005-06-18 10:17:21,2304,441,2005-06-21 04:18:21,1,501,1,2006,1,3,4.99,141,R,1,441,446,59,2,0
21,3629,2005-07-06 06:23:22,4019,441,2005-07-08 09:32:22,2,875,2,2006,1,6,0.99,173,PG,15,441,446,59,2,0
22,3695,2005-07-06 10:02:08,2823,441,2005-07-09 15:43:08,1,620,1,2006,1,5,2.99,131,NC-17,14,441,446,59,2,0
23,4084,2005-07-07 05:16:00,2588,441,2005-07-15 09:23:00,1,568,1,2006,1,4,4.99,77,NC-17,5,441,446,59,2,0
24,4208,2005-07-07 11:34:22,3617,441,2005-07-09 08:25:22,1,790,1,2006,1,6,0.99,67,PG-13,7,441,446,59,2,0
25,5129,2005-07-09 07:28:33,4516,441,2005-07-14 05:12:33,2,986,1,2006,1,6,2.99,85,NC-17,2,441,446,59,2,0
26,5811,2005-07-10 15:27:04,4007,441,2005-07-12 17:20:04,1,873,1,2006,1,3,0.99,108,G,3,441,446,59,2,0
27,6636,2005-07-12 09:49:46,3270,441,2005-07-14 12:15:46,1,720,2,2006,1,3,2.99,179,NC-17,13,441,446,59,2,0
28,6642,2005-07-12 10:37:52,201,441,2005-07-13 15:13:52,1,45,1,2006,1,5,4.99,83,PG-13,13,441,446,59,2,0
29,6941,2005-07-26 23:18:49,1575,441,2005-07-31 00:23:49,2,346,1,2006,1,4,4.99,128,R,4,441,446,59,2,0
30,8237,2005-07-29 00:29:56,608,441,2005-08-06 03:10:56,1,132,1,2006,1,6,0.99,114,PG,14,441,446,59,2,0
31,8281,2005-07-29 01:46:00,899,441,2005-08-04 23:09:00,1,200,1,2006,1,7,0.99,133,PG-13,10,441,446,59,2,0
32,8427,2005-07-29 07:08:36,1624,441,2005-07-30 11:54:36,2,354,2,2006,1,6,4.99,85,G,3,441,446,59,2,0
33,8575,2005-07-29 11:52:47,1668,441,2005-08-03 08:14:47,2,364,1,2006,1,3,2.99,73,NC-17,13,441,446,59,2,0
34,8617,2005-07-29 13:46:14,385,441,2005-08-06 13:26:14,2,85,2,2006,1,4,0.99,63,G,6,441,446,59,2,0
35,9644,2005-07-31 05:40:35,4577,441,2005-08-09 08:18:35,1,1000,1,2006,1,3,4.99,50,NC-17,5,441,446,59,2,0
36,9854,2005-07-31 12:59:34,1049,441,2005-08-03 07:20:34,2,234,1,2006,1,6,2.99,94,R,14,441,446,59,2,0
37,10139,2005-07-31 22:02:20,407,441,2005-08-04 02:09:20,1,90,1,2006,1,3,0.99,63,R,13,441,446,59,2,0
38,10846,2005-08-01 23:47:54,2277,441,2005-08-08 01:10:54,1,492,1,2006,1,6,0.99,134,NC-17,13,441,446,59,2,1
39,11247,2005-08-02 13:34:08,1661,441,2005-08-06 16:23:08,2,363,1,2006,1,3,0.99,54,R,12,441,446,59,2,1
40,13483,2005-08-20 01:16:38,2550,441,2005-08-21 20:43:38,2,559,2,2006,1,7,2.99,114,G,14,441,446,59,2,1
41,13739,2005-08-20 10:45:10,3027,441,2005-08-28 08:46:10,2,664,2,2006,1,6,2.99,65,PG,1,441,446,59,2,1
42,13932,2005-08-20 17:17:00,471,441,2005-08-24 14:06:00,1,103,2,2006,1,7,4.99,133,PG,16,441,446,59,2,1
43,14796,2005-08-22 00:40:49,941,441,2005-08-30 03:59:49,1,209,1,2006,1,6,2.99,99,NC-17,7,441,446,59,2,1
44,15070,2005-08-22 10:55:45,2687,441,2005-08-26 09:23:45,1,590,1,2006,1,3,2.99,135,PG,13,441,446,59,2,1
45,584,2005-05-28 11:49:00,1833,69,2005-06-01 11:54:00,1,398,2,2006,1,5,4.99,47,NC-17,12,69,73,63,2,0
46,765,2005-05-29 11:38:34,515,69,2005-06-02 17:04:34,1,114,1,2006,1,3,0.99,61,NC-17,14,69,73,63,2,0
47,1549,2005-06-16 01:57:15,266,69,2005-06-18 23:30:15,1,59,1,2006,1,4,2.99,160,R,3,69,73,63,2,0
48,3358,2005-06-21 11:56:40,1772,69,2005-06-26 08:28:40,2,384,2,2006,1,5,4.99,49,R,12,69,73,63,2,0
49,3883,2005-07-06 18:39:38,3238,69,2005-07-14 15:59:38,2,710,2,2006,1,4,4.99,120,R,8,69,73,63,2,0
50,4265,2005-07-07 14:27:51,1685,69,2005-07-12 19:55:51,2,367,2,2006,1,6,0.99,153,R,14,69,73,63,2,0
51,4427,2005-07-07 22:28:51,1021,69,2005-07-11 21:37:51,2,228,2,2006,1,4,0.99,143,PG-13,4,69,73,63,2,0
52,5569,2005-07-10 03:38:32,2835,69,2005-07-16 00:02:32,2,621,2,2006,1,5,2.99,75,PG-13,8,69,73,63,2,0
53,6297,2005-07-11 17:37:22,2738,69,2005-07-19 13:54:22,2,601,1,2006,1,4,0.99,79,PG-13,16,69,73,63,2,0
54,6385,2005-07-11 22:07:32,1830,69,2005-07-20 16:57:32,1,397,2,2006,1,5,2.99,107,NC-17,14,69,73,63,2,0
55,6785,2005-07-12 16:30:57,4448,69,2005-07-18 20:46:57,1,972,2,2006,1,4,4.99,59,PG-13,14,69,73,63,2,0
56,8649,2005-07-29 14:57:33,789,69,2005-08-07 09:43:33,2,172,2,2006,1,7,4.99,112,NC-17,7,69,73,63,2,0
57,9193,2005-07-30 12:28:42,3470,69,2005-08-02 12:17:42,2,760,2,2006,1,5,2.99,110,G,13,69,73,63,2,0
58,9612,2005-07-31 03:58:31,2142,69,2005-08-04 07:34:31,2,463,2,2006,1,4,2.99,116,PG,15,69,73,63,2,0
59,10074,2005-07-31 19:57:16,1268,69,2005-08-04 00:54:16,1,281,2,2006,1,6,0.99,143,G,10,69,73,63,2,0
60,11943,2005-08-17 17:00:42,4466,69,2005-08-26 22:07:42,1,976,1,2006,1,6,0.99,111,R,10,69,73,63,2,1
61,12012,2005-08-17 19:20:48,2698,69,2005-08-22 16:50:48,1,592,2,2006,1,6,2.99,107,PG,12,69,73,63,2,1
62,12121,2005-08-17 23:20:40,3423,69,2005-08-22 21:30:40,2,750,1,2006,1,3,0.99,145,R,13,69,73,63,2,1
63,12966,2005-08-19 06:37:48,3196,69,2005-08-26 03:59:48,2,702,2,2006,1,4,2.99,89,G,11,69,73,63,2,1
64,13023,2005-08-19 08:13:54,1566,69,2005-08-27 13:18:54,1,344,1,2006,1,3,0.99,178,PG-13,3,69,73,63,2,1
65,14311,2005-08-21 07:45:47,1761,69,2005-08-27 02:23:47,2,382,2,2006,1,3,0.99,137,PG,10,69,73,63,2,1
66,14685,2005-08-21 20:31:25,1320,69,2005-08-22 21:02:25,1,292,1,2006,1,3,0.99,51,G,1,69,73,63,2,1
67,14767,2005-08-21 23:43:00,1232,69,2005-08-29 05:26:00,1,273,1,2006,1,6,0.99,107,PG,8,69,73,63,2,1
68,15547,2005-08-23 04:25:50,1488,69,2005-08-26 00:57:50,1,326,2,2006,1,6,2.99,69,NC-17,2,69,73,63,2,1
69,172,2005-05-26 03:17:42,2873,176,2005-05-29 04:11:42,2,630,2,2006,1,7,0.99,48,PG-13,7,176,180,483,2,0
70,380,2005-05-27 09:34:39,1777,176,2005-06-04 11:45:39,1,385,2,2006,1,6,4.99,139,PG-13,5,176,180,483,2,0
71,553,2005-05-28 08:14:44,1349,176,2005-06-02 03:01:44,2,298,1,2006,1,4,2.99,172,PG-13,14,176,180,483,2,0
72,663,2005-05-28 21:23:02,3997,176,2005-06-02 17:39:02,2,870,2,2006,1,4,0.99,123,PG-13,11,176,180,483,2,0
73,1062,2005-05-31 08:38:20,2223,176,2005-06-09 08:23:20,2,481,1,2006,1,4,2.99,58,PG,13,176,180,483,2,0
74,1291,2005-06-15 08:55:01,3090,176,2005-06-24 04:22:01,1,679,2,2006,1,6,2.99,50,PG,8,176,180,483,2,0
75,1741,2005-06-16 16:31:37,3722,176,2005-06-25 21:38:37,1,814,1,2006,1,6,4.99,110,PG,5,176,180,483,2,0
76,1836,2005-06-16 23:13:05,2753,176,2005-06-24 01:40:05,2,603,2,2006,1,6,4.99,53,PG,8,176,180,483,2,0
77,2181,2005-06-18 00:48:31,3481,176,2005-06-25 06:43:31,2,763,1,2006,1,3,4.99,75,G,15,176,180,483,2,0
78,2218,2005-06-18 03:13:13,3577,176,2005-06-18 21:16:13,1,782,2,2006,1,6,2.99,60,PG-13,15,176,180,483,2,0
79,2427,2005-06-18 17:45:00,4278,176,2005-06-27 20:07:00,2,931,2,2006,1,7,0.99,48,PG-13,16,176,180,483,2,0
80,2503,2005-06-18 23:17:19,2486,176,2005-06-23 03:57:19,2,545,1,2006,1,4,0.99,178,PG-13,9,176,180,483,2,0
81,2922,2005-06-20 04:13:47,1671,176,2005-06-22 04:38:47,2,365,1,2006,1,4,4.99,154,R,5,176,180,483,2,0
82,3643,2005-07-06 07:20:08,845,176,2005-07-11 07:01:08,1,185,1,2006,1,3,2.99,146,PG,9,176,180,483,2,0
83,3931,2005-07-06 21:03:46,182,176,2005-07-16 01:32:46,1,40,2,2006,1,4,0.99,148,R,6,176,180,483,2,0
84,4121,2005-07-07 07:13:50,2429,176,2005-07-13 04:32:50,2,530,1,2006,1,5,2.99,108,PG-13,1,176,180,483,2,0
85,6035,2005-07-11 03:01:45,3474,176,2005-07-14 01:04:45,2,761,2,2006,1,7,2.99,154,PG,3,176,180,483,2,0
86,6354,2005-07-11 20:54:27,3203,176,2005-07-18 23:46:27,2,704,1,2006,1,3,2.99,121,NC-17,5,176,180,483,2,0
87,7017,2005-07-27 02:16:03,753,176,2005-07-31 07:49:03,1,165,1,2006,1,7,4.99,70,G,14,176,180,483,2,0
88,7025,2005-07-27 02:40:29,3530,176,2005-07-29 23:02:29,2,772,2,2006,1,4,2.99,80,PG,7,176,180,483,2,0
89,7210,2005-07-27 09:19:05,1984,176,2005-07-28 04:35:05,1,433,1,2006,1,4,2.99,95,PG,2,176,180,483,2,0
90,7521,2005-07-27 21:04:42,3144,176,2005-08-03 16:06:42,1,690,2,2006,1,7,2.99,185,PG-13,2,176,180,483,2,0
91,7751,2005-07-28 05:56:13,4425,176,2005-08-05 08:08:13,1,967,2,2006,1,5,2.99,134,R,14,176,180,483,2,0
92,8279,2005-07-29 01:43:37,3838,176,2005-08-03 02:36:37,1,841,1,2006,1,5,2.99,181,PG,15,176,180,483,2,0
93,9145,2005-07-30 10:27:55,559,176,2005-08-07 14:41:55,2,121,2,2006,1,4,2.99,151,PG,2,176,180,483,2,0
94,10277,2005-08-01 03:22:41,1472,176,2005-08-05 05:07:41,1,322,1,2006,1,5,2.99,100,G,15,176,180,483,2,1
95,10441,2005-08-01 08:55:56,4122,176,2005-08-03 10:26:56,2,896,1,2006,1,3,0.99,157,PG,3,176,180,483,2,1
96,10862,2005-08-02 00:17:34,1077,176,2005-08-08 00:31:34,2,240,2,2006,1,7,2.99,120,PG-13,14,176,180,483,2,1
97,11678,2005-08-17 06:07:39,3511,176,2005-08-21 10:51:39,2,768,2,2006,1,3,4.99,102,PG-13,3,176,180,483,2,1
98,12299,2005-08-18 05:32:32,892,176,2005-08-22 08:14:32,2,199,1,2006,1,4,2.99,56,R,6,176,180,483,2,1
99,12718,2005-08-18 21:21:44,3221,176,2005-08-20 01:01:44,1,707,2,2006,1,5,2.99,177,R,1,176,180,483,2,1

# Explore multi-classification

This is where I can find classes in the data with often a wider range of classes than only A en B. 

<br>

<details><summary>▶ Basic exploration tools:</summary>
<p>

| in SQL | in pandas | example|
|---|---|---|
| COUNT DISTINCT | .nunique() | superstore['Country'].nunique() |
| DISTINCT | .unique() | superstore['Country'].unique() |
| GROUP BY  with COUNT | .value_counts() | superstore['Country'].value_counts() |
| no NULL values | .value_counts(dropna=False) | superstore['Country'].value_counts(dropna=False) |

</p>
</details>

In [23]:
# Explore multi-class classification: 
# wider range of classes than only A en B
rentals['length'].value_counts()           # Conclusion: classification with bins
rentals['language_id'].value_counts()      # Conclusion: only one language, no classification needed
rentals['release_year'].value_counts()     # Conclusion: only one release year, no classification needed
rentals['city_id'].value_counts()          # Conclusion: still 597 different cities, need more spread/corr analysis
rentals['rental_duration'].value_counts()  # Conclusion: straightforward classification
rentals['rating'].value_counts()           # Conclusion: straightforward classification
rentals['store_id'].value_counts()         # Conclusion: straightforward classification
rentals['category_id'].value_counts()      # Conclusion: straightforward classification
rentals['rental_rate'].value_counts()      # Conclusion: straightforward classification
rentals['store_id'].value_counts()         # Conclusion: straightforward classification

2    8031
1    7831
Name: store_id, dtype: int64

In [ ]:
# print(rentals['last_update'].min(),' | ', rentals['last_update'].max())
# 2006-02-15 21:30:53  |  2006-02-23 04:12:08
# Conclusion: values of last_update are all outside time window of this assignment
# Decision to remove from SELECT statement

In [ ]:
# More spread analysis: EDA decision needed
# city_id

In [ ]:
######################
# Exploration tools: #
######################
# rentals.head(100)
# rentals.tail()
# rentals.index
# rentals.columns
# rentals.describe
# rentals['t_rented'].loc[rentals['t_rented'] == 1].count()
# rentals[rentals.isna().any(axis=1)]   # if ANY NaN is still present, it will be shown

In [ ]:
# explore occurences of combination of values:
# pd.crosstab(data1,data2)
# of:
# data[['type','operation']].values_counts()

In [ ]:
# Focused correlation exploration between specific vars
# # look for multicolinearity (some columns having almost identical correlation to other variables)
# # why can't we look for correlation with our target variable (status)?
# corr_matrix=data.corr(method='pearson')  # default
# fig, ax = plt.subplots(figsize=(10, 8))
# ax = sns.heatmap(corr_matrix, annot=True)
# plt.show()

In [ ]:
# Columns with only one value: EDA decision needed

# language_id
# release_year

In [ ]:
# 5. Create a logistic regression model to predict this variable from the cleaned data.

In [ ]:
# 6. Evaluate the results.

**About date format and sklearn:**

The best way is to explode the date into a set of categorical features encoded in boolean form using the 1-of-K encoding (e.g. as done by DictVectorizer). Here are some features that can be extracted from a date:

- hour of the day (24 boolean features)
- day of the week (7 boolean features)
- day of the month (up to 31 boolean features)
- month of the year (12 boolean features)
- year (as many boolean features as they are different years in your dataset) ...

That should make it possible to identify linear dependencies on periodic events on typical human life cycles.

Additionally you can also extract the date a single float: convert each date as the number of days since the min date of your training set and divide by the difference of the number of days between the max date and the number of days of the min date. That numerical feature should make it possible to identify long term trends between the output of the event date: e.g. a linear slope in a regression problem to better predict evolution on forth-coming years that cannot be encoded with the boolean categorical variable for the year feature